*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: #ce5e5e;

}
.nav{
    display: flex;
    padding: 2%;
}
.logo{
    color: white;
    font-weight: bolder;
    font-size: x-large;
    width: 50%;
}
.navmenu{
    width: 50%;
    padding-left: 20%;
    font-size: xx-large;
}
.navmenu a{
    color: white;
    font-weight: bold;
    font-size: xx-arge;
    margin-right: 5%;
    text-decoration: none;
}
.form{
    display: flex;
    
}
.txt{
    font-size: xx-large;
    
}
form button{
    background: #141a34;
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.pic{
    padding: 2%;
    width: 50%;
  
}
.txt{
    padding: 2% 8% 8% 0;
    width: 50%;
}
.input1{
    display: none;
}

.input span{
    font-size: x-small;
    color: red;
    position: relative;
}


.footer{
    color: white;
}

